*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
background:#0c0c0c;
color:white;
font-family:'Montserrat', sans-serif;
}

header{
display:flex;
justify-content:space-between;
padding:25px 60px;
background:black;
position:fixed;
width:100%;
top:0;
z-index:1000;
}

.logo{
font-family:'Playfair Display', serif;
letter-spacing:4px;
font-size:18px;
}

nav a{
color:#d4af37;
margin-left:30px;
text-decoration:none;
font-size:14px;
}

.hero{
.hero{
min-height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
padding:0 20px;
margin-top:90px;
background:
linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.85)),
url('images/hero.png') center/cover no-repeat;
}

.hero h1{
font-size:72px;
font-family:'Playfair Display', serif;
letter-spacing:3px;
line-height:1.1;
margin-top:-20px;
}

.hero p{
margin-top:25px;
color:#cfcfcf;
font-size:16px;
letter-spacing:1px;
}

.btn{
background:transparent;
color:#d4af37;
padding:16px 40px;
border:1px solid #d4af37;
cursor:pointer;
margin-top:40px;
transition:0.4s;
letter-spacing:1.5px;
}

.btn:hover{
background:#d4af37;
color:black;
}

}

.products{
padding:120px 80px;
text-align:center;
}

.products h2{
font-family:'Playfair Display', serif;
font-size:40px;
}

.products h2::after{
content:"";
display:block;
width:60px;
height:2px;
background:#d4af37;
margin:15px auto 0;
}

.grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:40px;
margin-top:60px;
}

.card{
background:#111;
padding:20px;
transition:0.4s;
border:1px solid #1c1c1c;
}

.card:hover{
transform:translateY(-10px);
box-shadow:0 20px 40px rgba(212,175,55,0.15);
border:1px solid #d4af37;
}

.card img{
width:100%;
height:350px;
object-fit:contain;
background:#000;
}

.card h3{
margin-top:15px;
}

.about{
padding:120px 20px;
text-align:center;
background:#0a0a0a;
}

.testimonial{
padding:120px 20px;
text-align:center;
background:#0c0c0c;
}

.testimonial h2{
font-family:'Playfair Display', serif;
margin-bottom:30px;
}

.testi-box{
max-width:600px;
margin:auto;
font-style:italic;
color:#ccc;
}

footer{
text-align:center;
padding:40px;
background:black;
color:#777;
}

/* CART */

#cart-overlay{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,0.5);
backdrop-filter:blur(5px);
display:none;
z-index:998;
}

#cart-panel{
position:fixed;
top:0;
right:-400px;
width:380px;
height:100%;
background:#111;
padding:30px;
transition: all 0.5s cubic-bezier(.77,0,.18,1);
z-index:999;
display:flex;
flex-direction:column;
}

#cart-panel.active{
right:0;
}

#cart-overlay.active{
display:block;
}

.cart-header{
display:flex;
justify-content:space-between;
margin-bottom:20px;
}

.cart-item{
border-bottom:1px solid #333;
padding:15px 0;
}

.qty{
display:flex;
gap:10px;
margin-top:10px;
}

.qty button{
padding:5px 10px;
background:#222;
color:#d4af37;
border:1px solid #333;
cursor:pointer;
}

.cart-footer{
margin-top:auto;
}

.full{
width:100%;
}
