body{
margin:0;
background:#0c0c0c;
color:white;
font-family:'Montserrat', sans-serif;
}

header{
display:flex;
justify-content:space-between;
padding:25px 60px;
background:black;
position:fixed;
width:100%;
top:0;
z-index:1000;
}

.logo{
font-family:'Playfair Display', serif;
letter-spacing:3px;
}

nav a{
color:#d4af37;
margin-left:25px;
text-decoration:none;
cursor:pointer;
}

.hero{
height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
padding-top:80px;
background:#111;
}

.hero h1{
font-size:60px;
font-family:'Playfair Display', serif;
}

.btn{
background:#d4af37;
color:black;
padding:12px 30px;
border:none;
cursor:pointer;
margin-top:20px;
}

.full{
width:100%;
}

.products{
padding:120px 80px;
text-align:center;
}

.grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:40px;
margin-top:50px;
}

.card{
background:#111;
padding:20px;
transition:0.4s;
}

.card:hover{
transform:translateY(-10px);
}

.card img{
width:100%;
height:350px;
object-fit:contain;
background:#000;
}

/* CART */
#cart-overlay{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,0.5);
backdrop-filter:blur(5px);
display:none;
z-index:998;
}

#cart-panel{
position:fixed;
top:0;
right:-400px;
width:380px;
height:100%;
background:#111;
padding:30px;
transition:0.4s;
z-index:999;
display:flex;
flex-direction:column;
}

#cart-panel.active{
right:0;
}

#cart-overlay.active{
display:block;
}

.cart-header{
display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:20px;
}

.cart-item{
border-bottom:1px solid #333;
padding:15px 0;
}

.qty{
display:flex;
gap:10px;
margin-top:10px;
}

.qty button{
padding:5px 10px;
}

.cart-footer{
margin-top:auto;
}
