body{
margin:0;
background:#0c0c0c;
color:white;
font-family:'Montserrat', sans-serif;
}

header{
display:flex;
justify-content:space-between;
padding:25px 60px;
background:black;
position:fixed;
width:100%;
top:0;
}

.logo{
font-family:'Playfair Display', serif;
letter-spacing:3px;
}

nav a{
color:#d4af37;
margin-left:25px;
text-decoration:none;
}

.hero{
height:100vh;
background:url('https://images.unsplash.com/photo-1585386959984-a41552262f9e?q=80&w=1600') center/cover;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
}

.hero h1{
font-size:60px;
font-family:'Playfair Display', serif;
}

.btn{
background:#d4af37;
color:black;
padding:12px 30px;
text-decoration:none;
margin-top:20px;
}

.products{
padding:120px 80px;
text-align:center;
}

.grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:40px;
margin-top:50px;
}

.card{
background:#111;
padding:20px;
transition:0.4s;
}

.card:hover{
transform:translateY(-10px);
}

.card img{
width:100%;
height:350px;
object-fit:cover;
}

.about, .contact{
padding:120px 80px;
text-align:center;
background:#111;
}

footer{
text-align:center;
padding:30px;
background:black;
}

