body{
margin:0;
font-family: 'Georgia', serif;
background:#000;
color:#fff;
}

header{
display:flex;
justify-content:space-between;
padding:20px 60px;
background:#000;
position:sticky;
top:0;
}

.logo{
font-size:20px;
letter-spacing:3px;
color:#d4af37;
}

nav a{
color:white;
margin-left:20px;
text-decoration:none;
}

.hero{
height:90vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
background:url('https://images.unsplash.com/photo-1600180758890-6f1a3d77b2d6') center/cover;
text-align:center;
}

.hero h1{
font-size:60px;
}

.btn{
padding:12px 25px;
background:#d4af37;
color:black;
text-decoration:none;
margin-top:20px;
}

.grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:30px;
padding:60px;
}

.card{
background:#111;
padding:20px;
text-align:center;
border:1px solid #333;
}

.card img{
width:100%;
height:250px;
object-fit:cover;
}

button{
padding:10px 20px;
background:#d4af37;
border:none;
cursor:pointer;
margin-top:10px;
}

footer{
text-align:center;
padding:30px;
border-top:1px solid #222;
}
